DB_MODE="DEV"
DB_HOST="Your database host"
DB_PORT="Your database port"
DB_NAME="Your database name"
DB_USER="Your database user username"
DB_PASSWORD="Your database user password"
ECHO="false"

POSTGRES_DB="Your database name"
POSTGRES_USER="Your database user username"
POSTGRES_PASSWORD="Your database user password"
POSTGRES_MULTIPLE_DATABASES="Your database name, Your test database name"

PGADMIN_DEFAULT_EMAIL="Your PGAdmin email"
PGADMIN_DEFAULT_PASSWORD="Your PGAdmin password"