.chat-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    padding: 10px 10px;
    border-radius: 100px;
    background-color: #505050;

}

.header-label {
    display: flex;
    align-items: center;
    gap: 15px;
}

#options-btn {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    padding: 7.5px;
    transition: background-color 0.2s;
}

#options-btn:hover {
    background-color: #3b3b3b;
    transition: background-color 0.2s;
    cursor: pointer;
}

#options {
    display: none;
    position: absolute;
    right: 60px;
    /* border: 1px solid #ccc; */
    background-color: #3b3b3b;
    border-radius: 10px;
    padding: 5px;
    z-index: 1000;
}

.option {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 10px;
    background-color: #3b3b3b;
    border-radius: 10px;
    color: #dbdbdb;
    transition: background-color 0.2s;
}

.option:hover {
    cursor: pointer;
    background-color: #3b3b3b;
}

.option img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.leave {
    color: #f73636;
}

.leave:hover {
    cursor: pointer;
    background-color: #613333;
}

.header-label img {
    width: 40px;
    height: 40px;
}

.header-label h2 {
    font-size: 1.5em;
    font-weight: bold;
    color: #fff;
}

.chat-body {
    display: flex;
    flex-direction: column;
    padding: 0 50px;
    gap: 20px;
    height: 100%;
    overflow: auto;
}

.chat-body::-webkit-scrollbar {
    width: 5px;
    background: transparent;
}

.chat-body::-webkit-scrollbar-thumb {
    background-color: #808080;
    border-radius: 10px;
}

.chat-footer {
    display: flex;
    align-items: center;
    height: 40px;
    padding: 10px 10px;
    border-radius: 100px;
    background-color: #505050;
}

.chat-footer input {
    width: 100%;
    font-size: 1.2em;
    color: #dbdbdb;
    border-radius: 100px;
    padding: 10px 20px;
}

.chat-footer button {
    width: 40px;
    height: 40px;
    padding: 9px;
    border-radius: 100px;
    border: none;
    margin: 0;
}

.chat-footer button:active {
    outline: none;
}

.hidden {
    display: none;
}